body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.theme{
    background-color: lightgrey;
}

.title{
    font-size: xxx-large;
}

.main{
    height: 70vh;
    border: groove;
    border-radius: 12px;
    margin-top: 2%;
    margin-left: 20%;
    padding: 1%;
    margin-right: 20%;
    background-color: white;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.content {
    border: groove;
    border-radius: 12px;
    background-color: white;
    padding: 2%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

.wrapper {
    display:flex;
    justify-content: space-between;
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0 15px
}